<h1>Nahrát profilovou fotku</h1>

<div>
	<div n:if="$status">{$status}</div>
	<form action="" method="post" enctype="multipart/form-data">
		<input class="inputsubmitbuttons" type="file" name="profile"><br><br><input class="inputsubmitbuttons" type="submit">
	</form>
</div>
