<input type="text" class="post_comment_input" post_input_id="{$postId}" data-post-input-id="{$postId}" placeholder="Přidat komentář...">

<script src="js/komentare.js"></script>
<script src="js/jquery.js"></script>